ul#inputs {
  width: 40%;
  margin: auto;
  list-style: none;
}

ul#inputs li {
  margin: 12px;
}

input.translateInput {
  width: 100%;
  padding: 4px;
  border: none;
  border-bottom: 2px solid black;
}

input.translateInput:focus {
  outline: none;
  background-color: lightblue;
}
