div#container{
  width: 800px;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

ul#inputs {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 45%;
  float: left;
}

pre#results {
  width: 50%;
  float: right;
}

ul#inputs li {
  margin: 12px;
}

input.translateInput {
  font-size: 16px;
  width: 100%;
  padding: 4px;
  border: none;
  border-bottom: 2px solid black;
}

input.translateInput:focus {
  outline: none;
  background-color: lightblue;
}
